<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Music library</title>
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body class="bg-secondary">
    <div class="container p-5">
        <ul class="nav mb-5">
            <li class="nav-item mr-2">
                <a class="nav-link btn-success {% if "/" == request.path %}btn-dark{% endif %}"
                   href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-success {% if "/track-add/" == request.path %}btn-dark{% endif %}"
                   href="/track-add/">Add track</a>
            </li>
        </ul>
    {% block content %}
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for field in music %}
                <tr>
                {% for track in field %}
                    <th scope="row">{{ track }}</th>

                {% endfor %}
                <th>
                    <form method="post" action="/track-delete/" class="d-inline">
                        <input type="hidden" name="track_id" value="{{ field[0] }}">
                        <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                </th>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endblock %}
    </div>
</body>
</html>
